* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
}

section{
  width: 100%;
  height: 100vh;
  overflow: auto;
  float: left;
}

#sectionA{
  background-color: #333745;
}

#sectionB{
  background-color: #C7EFCF;
}

#sectionC{
  background-color: #EEF5DB;
}

#introduction{
  padding-top: 15%;
  padding-left: 10%;
  color: #FE5F55;
  font-size: 3.5em;
  overflow: auto;
}

.button{
  display: block;
  border-style: none;
  padding: auto;
  margin-top: 2%;
  height: 4em;
  width: 13em;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 26px;
  text-align: center;
}

.buttonstyle{
  text-align: center;
  border-radius: 56px;
  padding-top: 1.4em;
  padding: auto;
  color: white;
  background: #FE5F55;
}

.about-me{
  order: 1;
  width: 25%;
  padding: 5% 0 0 4%;
}

.image-container{
  order: 2;
  width: 50%;
  height: 50%;
  text-align: center;
  padding-top: 4%;
  flex-grow: 2;
}

.my-competence{
  order: 3;
  width: 25%;
  padding: 5% 0 0 4%;
}

#presentation{
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#presentation img {
  height: 45em;
  width: auto;
  border-radius: 50%;
}

#presentation h3{
  font-size: 1.5em;
}

#presentation p, ul{
  font-size: 1.2em;
}

#presentation ul {
  margin-bottom: 4%;
  margin-top: 2%;
}

#presentation h2{
  font-size: 2em;
  text-align: center;
}

#presentation span{
  font-size: 0.8em;
}

#sectionB .button, #sectionC .button{
  margin: 0 auto;
}

#contact{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin-top: -9%;
}

#contact a {
  text-align: center;
  margin: 0 2% 2% 2%;
}

#contact img{
  width: 5vw;
}

#contact h3{
  order: 1;
}

#projects{
  text-align: center;
  margin: 40vh auto;
}

#projects .button{
  margin-top: -5%;
}

.in-white{
  color: white;
  font-size: 4rem;
}

@media (max-aspect-ratio: 1/1) {
  #introduction{
    padding: 0 auto;
    padding-top: 60%;
  }

  .in-white{
    font-size: 3rem;
  }

  .button {
    margin-left: 5%;
    margin-top: 10%;
  }

  #presentation{
    flex-direction:column;
    flex-wrap: wrap;
  }

  .about-me{
    order: 3;
    align-self: center;
    text-align: center;
    width: 90%;
    padding-top: 10%;
    padding-left: 0%;
  }

  .about-me ul{
    padding-top: 2%;
    padding-left: 0%;
  }

  .image-container{
    order: 1;
    width: 100%;
    padding-top: 10%;
  }

  .my-competence{
    order: 2;
    text-align: center;
    align-self: center;
    width: 90%;
    padding-left: 0%;
  }

  .my-competence ul {
    padding-left: 0%;
  }

  #presentation h2 {
    font-size: 3em;
  }

  #presentation h3{
    font-size: 2em;
    align-self: center;
    text-align: center;
  }

  #presentation p, ul, h4{
    font-size: 1.5em;
    list-style: none;
    text-align: center;
  }

  #presentation ul {
    margin:0;
    margin-bottom:
    padding:0;
    text-align: center;
  }

  #presentation li:last-child{
    padding-bottom: 2%;
  }

  #sectionB{
    height: 330vh;
  }

  #sectionB .button{
    margin-top: 8%;
    margin-bottom: 5%;
  }

  #contact img{
    width: 20vw;
  }

  #contact{
    margin: 10%;
  }

  #sectionC .button{
    margin: 5% auto;
  }

  #sectionC a{
    font-size: 2em;
  }
}
