* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
}

section{
  width: 100%;
  height: 100vh;
  overflow: auto;
  float: left;
}

#sectionA{
  background-color: #333745;
}

#sectionB{
  background-color: #EEF5DB;
}

#introduction{
  padding-top: 15%;
  padding-left: 10%;
  color: #FE5F55;
  font-size: 3.5em;
  overflow: auto;
}

.button{
  display: block;
  border-style: none;
  padding-left: 10%;
  margin-top: 2%;
  height: 4em;
  width: 13em;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 16px;
	font-weight: normal;
  text-align: center;
}

.buttonstyle{
  text-align: center;
  border-radius: 56px;
  padding: 2%;
  color: white;
  background: #FE5F55;
}

#presentation img {
  float: right;
  height: 30em;
  width: auto;
}

.in-white{
  color: white;
  font-size: 3rem;
}

ul{
  list-style-type: none;
}

.projects-placeholder img{
  width: 25em;
  height: 25em;
  border-radius: 10%;
}

.projects-placeholder h2{
  font-size: 2em;
}

.projects-placeholder{
  background-image: url("../Images/projects-background-placeholder.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-description{
  text-align: center;
  font-size: 1em;
}

.project-description ul li{
  text-align: center;
  padding: 0;
  font-size: 1em;
}

#dungeon-crawler{
  position: relative;
  width: 25%;
  margin: 3em;
  order: 0;
}

#bar-simulation{
  position: relative;
  width: 25%;
  margin: 3em;
  order: 1;
}

#whack-a-douche{
  position: relative;
  width: 25%;
  margin: 3em;
  order: 2;
}

.nav-placeholder{
  position: fixed;
  bottom: 0px;
}

.nav-placeholder ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-placeholder li{
  float: left;
  border-right: 1px solid #bbb;
}

.nav-placeholder li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-placeholder li:last-child{
  border-right: none;
}

.nav-placeholder li a:hover{
  background-color: #111;
}

@media (max-aspect-ratio: 1/1) {
  #introduction{
    padding-top: 50%;
    padding-left: 20%;
  }
  .button {
    margin-left: 25%;
  }
}
