html{
  background-image: linear-gradient(#bdc3c7, #2c3e50);
  height: 100%;
}

.introduction img{
  max-width: 300px;
  width: auto;
  height: auto;
}

#projects-placeholder{
  margin:0 0 0 3%;
}

#nav-placeholder ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav-placeholder li{
  float: left;
  border-right: 1px solid #bbb;
}

#nav-placeholder li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-placeholder li:last-child{
  border-right: none;
}

#nav-placeholder li a:hover{
  background-color: #111;
}
